Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
Flask-WTF
Flask-Bcrypt
Flask-Mail
email-validator
python-dotenv
psycopg2-binary
gunicorn
itsdangerous
Jinja2
Werkzeug
click
WTForms
SQLAlchemy
alembic
pytest
pytest-flask
pytest-cov
coverage
requests